.content-wr {
    height: 1500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}


.content-wr .table-wr {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    position: absolute;
}

.table-wr table {
    width: 100%;
}

.table-wr .table-head {
    width: 100%;
}

thead tr {
    background-color: rgb(240, 230, 140);
    color: black;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

td, th {
    padding: 0 15px;
    line-height: 40px;
    text-align: start;
}

tbody tr:nth-child(odd) {
    background-color: rgb(255, 250, 205);
}

tbody tr:hover td {
    cursor: pointer;
    background-color: rgb(238, 232, 170)
}

.mainImgWrTop {
    width: 100%;
    height: 30%;
    margin: 50px 15px 0 1200px;
}

.mainImgWrMiddle{
    width: 100%;
    height: 30%;
    margin: 40px 500px 0 5px;
}

.mainImgWrBottom{
    width: 100%;
    height: 30%;
    margin: 50px 15px 0 1200px;
}

.usdStyle{
    background-color: rgb(107,142,35) !important;
}