.header-wr {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(240, 230, 140);
}

.header-wr .header-wr-text {
    width: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wr img {
    max-width: 6%;
    margin: 5px 0 5px 10px;
}

.header-wr .header-wr-text b {
    font-size: larger;
}