.footer-wr {
    width: 100%;
    background-color: rgb(240, 230, 140);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wr .footer-text {
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-wr .footer-text span {
    font-weight: bold;
    margin-left: 3px;
}